#authFormBody {
  padding-top: 25%;
}

#authFormBody input {
  transition: 1s;
  display: block;
  margin: 5% auto 5% auto;
  line-height: 2.5rem;
  font-size: .8rem;
  width: 80%;
  padding: 0 2% 0 2%;
  background-color: white;
}

#authFormBody input:-webkit-autofill {
  background-color: white;
}
