/* Styles needed for background image */
#landingBg {
  background-image: url("./landingBgPers.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  filter: blur(3px);
}

/* Faded overlay for background image */
#landingBgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

/* House for the actual login/signup section */
#authContainer {
  filter: blur(0px);
  width: 370px;
  height: 420px;
  background-color: white;
  margin: 7% auto 0 auto;
  text-align: center;
  box-shadow: 0px 0px 41px 8px rgba(0,0,0,0.75);
  border-radius: 1rem;
}

/* Login/Signup buttons */
#authContainer button {
  margin: 0 auto;
  width: 50%;
  font-size: 1.5rem;
  border: none;
  border: 1px white solid;
  border-bottom: 1px solid rgba(236, 240, 241,1.0);
  background-color: rgba(236, 240, 241,1.0);
  line-height: 3rem;
}

/* Hover border login/signup */
#authContainer button:hover {
  transition: .3s;
  border-bottom: 1px solid rgba(46, 204, 113,1.0);
}

/* Border for selected form */
#authContainer .selected {
  border-bottom: 1px solid rgba(41, 128, 185,1.0);
}
