#headerBackground {
  width: 100%;
  background-color: rgba(41, 128, 185,1.0);
}

#headerContainer {
  line-height: 4rem;
  max-height: 4rem;
  width: 100%;
  min-width: 840px;
  max-width: 1000px;
  color: rgba(52, 73, 94,1.0);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#headerContainer div {
  flex-grow: 1;
  text-align: left;
}

#headerContainer a, #headerContainer button {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px white solid;
  width: 160px;
  height: 97%;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  border-bottom: 3px solid black;
  transition: .3s;
}

#headerContainer a:hover, #headerContainer button:hover {
  border-bottom: 3px solid rgba(46, 204, 113,1.0);
  transition: .3s;
}

#headerContainer .selected {
  border-bottom: 3px solid rgba(231, 76, 60,1.0);
}

/*#headerContainer a:hover {
  color: inherit;
}*/

#headerContainer #signOutContainer {
  flex-grow: 10;
  text-align: right;
}

#headerContainer #signOutContainer button {
  width: 20%;
  min-width: 100px;
}
